DATABASE_URL="postgresql://purple_cross:purple_cross_dev_password@localhost:5434/purple_cross?schema=public"
SESSION_SECRET="replace-with-a-32-byte-secret"
NUXT_PUBLIC_APP_NAME="Purple Cross Employee Management"
TRAEFIK_HOST="purple-cross.localhost"
TRAEFIK_ENTRYPOINTS="web"
TRAEFIK_NETWORK="traefik"
