DATABASE_URL="postgresql://shireburn_employee_management:shireburn_dev_password@localhost:5434/shireburn_employee_management?schema=public"
SESSION_SECRET="replace-with-a-32-byte-secret"
NUXT_PUBLIC_APP_NAME="Shireburn Platform - Employee Management"
TRAEFIK_HOST="shireburn-platform.localhost"
TRAEFIK_ENTRYPOINTS="web"
TRAEFIK_NETWORK="traefik"
WEB_PORT="3000"
TRAEFIK_TLS="false"
TRAEFIK_CERT_RESOLVER="myresolver"
