node_modules
.nuxt
apps/employee-management/auto-imports.d.ts
apps/employee-management/components.d.ts
.output
.turbo
coverage
playwright-report
test-results
.env
.env.*
!.env.example
*.log
dist
storybook-static
packages/db/prisma/migrations/*/migration_lock.toml
apps/employee-management/.nuxtrc
